    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="vue-navbar-top">
      <w-navbar></w-navbar>
    </nav>

    <div class="container-fluid mt-2">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="d-grid gap-2">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-uwb-star-mansion-operation" role="button" aria-expanded="false" aria-controls="collapse-uwb-board-test">
              锚点设定
            </a>
          </div>         
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2 collapse" id="collapse-uwb-star-mansion-operation">
      <div class="row mt-2 justify-content-center">
        <div class="col-2">
          <div class="d-grid gap-2">
            <button class="btn btn-success" onclick="onUIClickSaveAnchorGPS(this)">保存锚点GPS</button>
          </div>         
        </div>
      </div>
      <div class="row mt-2 justify-content-center" id="ui-vue-fix-anchor-manual">
        <div class="col-3" v-for="(anchor,address) in anchors">
          <h6 class="text-center">锚点</h6>
          <span class="badge bg-secondary">{{address}}</span>
          <div class="input-group mb-3">
            <span class="input-group-text">lat</span>
            <input type="text" class="form-control" v-model="anchor.lat" @change="onChangeAnchorWGS($event,address)">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">lon</span>
            <input type="text" class="form-control" v-model="anchor.lon" @change="onChangeAnchorWGS($event,address)">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">geo</span>
            <input type="text" class="form-control" v-model="anchor.geo" @change="onChangeAnchorWGS($event,address)">
          </div>

          
          <div class="input-group mb-3">
            <span class="input-group-text">x</span>
            <input type="text" class="form-control" v-model="anchor.x" @change="onChangeAnchorECEF($event,address)">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">y</span>
            <input type="text" class="form-control" v-model="anchor.y" @change="onChangeAnchorECEF($event,address)">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">z</span>
            <input type="text" class="form-control" v-model="anchor.z" @change="onChangeAnchorECEF($event,address)">
          </div>          
        </div>
      </div>
    </div>
    
    <hr/>
    
    <div class="container-fluid mt-2" id="vue-ui-view-star-mansion">
      <div class="row justify-content-md-center">
        <div class="col-8">
         </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
         </div>
      </div>
    </div>
    <div class="container-fluid mt-2">
      <div class="row justify-content-md-center">
        <div class="col-10">
          <div id="view_map" class="w-auto" style="height:600px;"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gps@0.6.1/gps.min.js" integrity="sha256-aP5ZLTc1l1e/GuhJwYW63UokuP2gHI7L9UB+utU8aA4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mqtt@4.3.7/dist/mqtt.min.js" integrity="sha256-DB4GAFiyqysd5z3QJsC20rSBBK6syd7qJlL+NndQ8HY=" crossorigin="anonymous"></script>
    <script type="module" src="./vue.ui.view.js"></script>
    <script type="module" src="./gps.ui.js"></script>
    <script type="module" src="./manual.fix.anchor.js"></script>

