    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="vue-navbar-top">
      <w-navbar></w-navbar>
    </nav>
    <div class="container-fluid mt-1">
      <div class="row justify-content-center align-items-center">
        <div class="col-2">
          <div class="d-grid gap-2">
            <button class="btn btn-success w-100" type="button" onclick="uiOnClickSearchBleDevice(this)">
              <i class="material-icons">bluetooth_searching</i>
            </button>
          </div>
        </div>
      </div>
      <hr/>

      <div class="row justify-content-center align-items-center" id="vue-ui-connection-of-anchor">
        <div class="col-6">
          <div class="input-group mb-3">
            <span class="input-group-text">Star Id:</span>
            <input type="text" class="form-control" readonly :value="mqtt.address" v-model="mqtt.address">
            <select class="form-select" v-model="mansionSelected">
              <option selected>Choose Star Mansion ...</option>
              <option :value="mansion" v-for="mansion in mansions">{{mansion}}</option>
            </select>
            <button class="btn btn-success" type="button" @click="onClickAddMansion($event)">+</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Star Mansion Id:</span>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-6">
          <div class="input-group mb-3">
            <span class="input-group-text">Wifi ssid:</span>
            <input type="text" class="form-control" :value="wifi.ssid" v-model="wifi.ssid">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Wifi password:</span>
            <input type="password" class="form-control" :value="wifi.password" v-model="wifi.password">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">MQTT URL:</span>
            <input type="text" class="form-control" :value="mqtt.url" v-model="mqtt.url">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">MQTT JWT:</span>
            <input type="text" class="form-control" :value="mqtt.jwt" v-model="mqtt.jwt">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">UWB Mode:</span>
            <span class="input-group-text" v-if="uwb.mode === 1">anchor</span>
            <span class="input-group-text" v-if="uwb.mode === 0">tag</span>
            <input type="text" class="form-control" :value="uwb.mode" v-model="uwb.mode">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">UWB ID:</span>
            <input type="text" class="form-control" :value="uwb.id" v-model="uwb.id">
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-success" type="button" @click="onClickChangeSetting($event)">Apply Connection Info</button>
          </div>
        </div>

      </div>
      <div class="row justify-content-center align-items-center" id="vue-ui-uwb-of-anchor">
        <div class="col-6">
          <div class="input-group mb-3 mt-2">
            <span class="input-group-text">Anchor Number:</span>
            <input type="text" class="form-control" v-model="uwb.id">
          </div>
          <div class="row justify-content-center align-items-center mb-3">
            <div class="col-6">
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" @click="onClickChangeAnchorMode($event)">Change Anchor mode</button>
              </div>
            </div>
            <div class="col-6">
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" @click="onClickChangeTagId($event)">Change Tag mode</button>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-success" type="button" @click="onClickChangeAnchorId($event)">Apply Anchor Id</button>
          </div>
        </div>
        <div class="col-6">
        </div>
      </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uri-js@4.4.1/dist/es5/uri.all.min.js" integrity="sha256-IslPl+jYchlZ3iz2MeZzZIBBRr9QbSEcT01+XKtwRVI=" crossorigin="anonymous"></script>
    <script src="./ui.ble.js" type="text/javascript"></script>
    <script src="./connection.vue.ui.js" type="module"></script>
    <script src="./anchor.vue.ui.js" type="module"></script>
